@page
@model Datiss.Auditing.Admin.Web.EmptyPage
@{
}

<div class="content-header row"></div>

<div class="content-body">
    <section>
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h4>
                        @ViewData["Title"]
                    </h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>

    </section>
</div>