<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="#">
                    <div class="brand-logo"><img class="logo" src="~/assets/images/logo/logo.png"></div>
                    <h2 class="brand-text mb-0">
                        سیستم نظام مهندسی
                    </h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item">
                <a href="#">
                    <i class="fa fa-help"></i>
                    <span class="menu-title" data-i18n="">داشبورد</span>
                    <span class="badge badge-light-danger badge-pill badge-round float-right">2</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span class="menu-title" data-i18n="">
                        مدیریت کاربران
                    </span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a asp-page="/Users/Create">
                            <i class="bx bx-left-arrow-alt"></i>
                            <span class="menu-item" data-i18n="nav.sk_starter_kit.1_column">
                                تعریف کاربر جدید
                            </span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="bx bx-left-arrow-alt"></i>
                            <span class="menu-item" data-i18n="nav.sk_starter_kit.2_columns">
                                لیست کاربران
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- END: Main Menu-->