@page 
@model Datiss.Auditing.Admin.Web.UserIndexPage
@{
    ViewData["Title"] = "مدیریت کاربران";
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
            <h5 class="content-header-title float-left pr-1">
                @ViewData["Title"]
            </h5>
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb p-0 mb-0">
                <li class="breadcrumb-item"><a asp-page="/index" asp-area="Admin"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active">
                    مدیریت کاربران
                </li>
                </ol>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section class="user-list-wrapper">
        <div class="users-list-filter px-1">
            <form>
                <div class="row border rounded py-2 mb-2">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <label asp-for="Filter.StatusValue">
                            وضعیت
                        </label>
                        <fieldset class="form-group">
                            <select id="fStatus" asp-for="Filter.StatusValue" 
                                    asp-items="Model.Filter.StatusSource" 
                                    class="form-control">
                            </select>
                        </fieldset>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <label asp-for="Filter.UserName">
                            نام کاربری
                        </label>
                        <fieldset class="form-group">
                            <input id="fUserName" asp-for="Filter.UserName" class="form-control" />
                        </fieldset>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <label asp-for="Filter.FullName">
                            نام یا نام خانوادگی
                        </label>
                        <fieldset class="form-group">
                            <input id="fFullName" asp-for="Filter.FullName" class="form-control" />
                        </fieldset>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <label asp-for="Filter.PhoneNumber">
                            شماره تماس
                        </label>
                        <fieldset class="form-group">
                            <input id="fPhoneNumber" asp-for="Filter.PhoneNumber" class="form-control" />
                        </fieldset>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <label asp-for="Filter.NationalCode">
                            شماره ملی
                        </label>
                        <fieldset class="form-group">
                            <input id="fNationalCode" asp-for="Filter.NationalCode" class="form-control" />
                        </fieldset>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                        <button id="btnFilter" type="button" class="btn btn-success glow mb-0 mt-75">
                            <i class="fa fa-filter"></i> فیلتر 
                        </button>
                        <button type="reset" class="btn btn-primary glow users-list-clear mb-0 mt-75">
                            پاکسازی
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="users-list-table">
            <div class="card">
                <div class="card-content">
                    @*<div class="card-header">
                        <h4>
                            @ViewData["Title"]
                        </h4>
                    </div>*@
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tblUsers" class="table dt-responsive nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>نام کاربری</th>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>شماره ملی</th>
                                        <th>وضعیت</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </section>
</div>

@section secHead {
    
}

@section secFoot {
    <script type="text/javascript" src="~/lib/datatable/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatable/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/custome.js"></script>

    <script type="text/javascript">

        var tableUsers;
        var tableData;

        $(document).ready(function() {
            if($('#tblUsers').length <= 0)
                return;

            $('#btnFilter').click(function(e) {
                e.preventDefault();
                refreshDataTable();
            });

            var listData;            
            
            tableUsers = $("#tblUsers").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": function(data, callback, settings) {
                    $.ajax({
                        url: '/api/admin/users/index',
                        type: 'POST',
                        dataType: 'json',
                        async: true,
                        data: {
                            columns: data.columns,
                            draw: data.draw,
                            length: data.length,
                            order: data.order,
                            search: data.search,
                            start: data.start,
                            filter: getFilterData()
                        },
                        success: function(data, status, settings) {
                            console.log(data);
                            listData = data;
                            callback(data);
                        },
                        error: function(request, option, err) {
                            console.log(err);
                        }
                    })
                },
                "columns": [
                    { "data": "UserName", "autoWidth": true },
                    { "data": "FirstName", "autoWidth": true },
                    { "data": "LastName", "autoWidth": true },
                    { "data": "NationalCode", "autoWidth": true },
                    { "data": "StatusDisplay", "autoWidth": true },
                    {
                        "data": "Id",
                        "orderable": false,
                        "render": function (data, type, row) { 
                            console.log(data);
                            console.log(row);
                            var editUrl = `/admin/users/edit/${data}`;
                            var btnEdit = `<a href="${editUrl}" title="ویرایش کاربر" class="btn btn-sm btn-primary"><i class="bx bx-edit-alt"></i> ویرایش</a>`;
                            var btnDelete = `<a href="#" class="btn btn-sm btn-danger" onclick="DeleteCustomer(${data});"><i class="bx bx-remove"></i> حذف</a>`;
                            
                            return `${btnEdit} ${btnDelete}`;
                        }
                    }
                ],
                "rowCallback": function(row, data, index) {

                }
            });
        });

        function getFilterData() {
            let filter = {};
            filter.UserName = $('#fUserName').val();
            filter.FullName = $('#fFullName').val();
            filter.NationalCode = $('#fNationalCode').val();
            filter.PhoneNumber = $('#fPhoneNumber').val();
            filter.StatusValue = $('#fStatus').val();

            console.log(filter);
            return filter;
        }

        function refreshDataTable() {
            tableUsers.ajax.reload();
        }

    </script>
}